header {
  width: 100%;
  min-height: 120px;
  background-color: #03032c;
  .header {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media(max-width: 768px) {
      flex-wrap: wrap;
      justify-content: center;
      gap:20px;
    }
    .logo {
      width: 100px;
      height: 100px;
    }
    nav {
      ul {
        display: flex;
        gap:30px;
        li {
          a {
            text-decoration: none;
            font-size: 30px;
            color: #9accd7;
            font-family: "Roboto";
            &:hover {
              box-shadow: 10px 10px 8px #174fb6;
              padding-bottom: 10px;
              padding-right: 10px;
            }
            &.active {
              box-shadow: 10px 10px 8px #062560;
              padding-bottom: 10px;
              padding-right: 10px;
            }
          }
        }
      }
    }
    .currency {
      width: 100%;
      max-width: 200px;
      @media(max-width: 768px) {
        margin-top: 20px;
      }
      h2 {
        font-size: 20px;
        margin-bottom: 20px;
        font-family: 'Roboto';
        color: #9accd7;
      }
      ul {
        li {
          margin-top: 5px;
          font-size: 18px;
          color: #2db3e5;
        }
      }
    }
  }
}